<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ninjas</title>
  </head>
  <body>
    <h1>There are no Ninjas here</h1>
    <p>Please press the buttons that we provided down here</p>
    <form action="/orange" method="post">
      <input type="submit" name="orange" value="Michelangelo">
    </form>
    <form action="/bule" method="post">
      <input type="submit" name="orange" value="Leonardo">
    </form>
    <form action="/red" method="post">
      <input type="submit" name="orange" value="Raphael">
    </form>
    <form action="/purple" method="post">
      <input type="submit" name="orange" value="Donatello">
    </form>
    <form action="/ninjas" method="post">
      <input type="submit" name="ninjas" value="All Ninjas">
    </form>
  </body>
</html>
